.custom-background {
  background: url("ocean.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  }

  .swal2-modal {
    background: url("shark.jpg") !important;
  }

  .swal2-title{
    color: blue !important;
  }

  .swal2-cancel{
    color: black !important;
    background: #ff3300 !important;
  }

  .swal2-confirm{
    color: black !important;
    background: #00ff2a !important;
  }

  .swal2-content{
    color: #06f9d8 !important;
   }

   .task-card{
    background-color: rgba(0,0,0,.5);
     color: #07fa07;
   }

   .task-title {
     position: relative;
     width: 90%;
     font-weight: 100;
   }

   .navbar-custom-icon {
     font-size: 1.5rem;
     color: #07fcd3;
   }
